.funto{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(146.11deg, #21122B 22.76%, rgba(151, 47, 215, 0) 91.71%);

}
div{
    background-color: #593ef1c2;
}

a:link{
    color: #ffffff;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

a:visited{
    color: #ffffff;
    text-decoration: none;
}

#a:active{
    color: #603DAB;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.E1{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 5px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(133.81deg, #685E85 23.83%, rgba(119, 111, 144, 0.861635) 35.98%, rgba(217, 217, 217, 0) 88.22%);
}
.E12{
    position: absolute;
    width: 155px;
    height: 205px;
    left: 5px;
    top: 5px;
    border-radius: 25px; 
    background-color: rgba(0, 0, 0, 0.548);
}

.textoE1{
    position: absolute;
    width: 150px;
    height: 250px;
    left: 5px;
    top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 20px;
    background-color: rgba(240, 248, 255, 0);
}

.M1{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(133.81deg, #685E85 23.83%, rgba(119, 111, 144, 0.861635) 35.98%, rgba(217, 217, 217, 0) 88.22%);
    
}

.M12{
    position: absolute;
    width: 405px;
    height: 105px;
    left: 26%;
    top: 10px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.textoM1{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 80px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    text-shadow: 2px 2px rgb(255, 255, 255);
}

.C1{
    position:absolute;
    width: 87%;
    height: 83%;
    left: 13%;
    top: 17%;
    background: url(../imagem/galaxia.jpg);
    Opacity: 98%
}

.M2{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 4%;
    top: 13%;
    border-radius: 25px;
    background: linear-gradient(138.85deg, #30293F 31.94%, rgba(208, 53, 193, 0.123528) 104.21%, rgba(13, 23, 47, 0.109375) 104.22%, rgba(3, 18, 32, 0) 104.23%);
}

.textoM2{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 15px;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
}

.M22{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 29%;
    top: 13%;
    border-radius: 25px;
    background: linear-gradient(138.85deg, #30293F 31.94%, rgba(208, 53, 193, 0.123528) 104.21%, rgba(13, 23, 47, 0.109375) 104.22%, rgba(3, 18, 32, 0) 104.23%);
}

.textoM22{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 5px;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
}

.M3{
    position: absolute;
    width: 250px;
    height: 400px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(140.4deg, #603DAB 27.5%, rgba(208, 53, 193, 0.123528) 104.32%, rgba(13, 23, 47, 0.109375) 104.33%, rgba(3, 18, 32, 0) 104.34%);
}

.M31{
    position: absolute;
    width: 265px;
    height: 415px;
    left: 5%;
    top: 25%;
    border-radius: 25px; 
    background-color: rgba(0, 0, 0, 0.548);
}

.textoM3{
    position: absolute;
    width: 250px;
    height: 400px;
    left: 0px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
}
.M33{
    position: absolute;
    width: 250px;
    height: 400px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(140.4deg, #603DAB 27.5%, rgba(208, 53, 193, 0.123528) 104.32%, rgba(13, 23, 47, 0.109375) 104.33%, rgba(3, 18, 32, 0) 104.34%);
}

.M32{
    position: absolute;
    width: 265px;
    height: 415px;
    left: 30%;
    top: 25%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.textoM33{
    position: absolute;
    width: 250px;
    height: 400px;
    left: 0px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
}

.D1{
    position: absolute;
    width: 250px;
    height: 60px;
    left: 77%;
    top: 4%;
    border-radius: 25px;
    background: linear-gradient(138.85deg, #30293F 31.94%, rgba(208, 53, 193, 0.123528) 104.21%, rgba(13, 23, 47, 0.109375) 104.22%, rgba(3, 18, 32, 0) 104.23%);
    animation: D1 7s infinite;
}

@keyframes D1 {
    0%{left: 77%;}
    25%{top: 6%;}
    50%{left: 74%;}
    75%{top: 4%;}
    100%{left: 77%;}
}

.nomes{
    position: absolute;
    width: 250px;
    height: 60px;
    left: 10px;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
}

.D2{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: url(../imagem/Planck);
}

.D21{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 0;
    top: 0;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.planck{
    position: absolute;
    width: 50px;
    height: 20px;
    left: 50px;
    top: 160px;
    border-radius: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
}

.D3{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: url(../imagem/albert.png);
    Fill: Image;
}

.D31{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 0;
    top: 0;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.albert{
    position: absolute;
    width: 50px;
    height: 20px;
    left: 50px;
    top: 160px;
    border-radius: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
}

.D4{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: url(../imagem/Ernest.png);
}

.D41{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 0;
    top: 0;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.ernest{
    position: absolute;
    width: 50px;
    height: 20px;
    left: 50px;
    top: 160px;
    border-radius: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
}

.E3{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 5px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(133.81deg, #685E85 23.83%, rgba(119, 111, 144, 0.861635) 35.98%, rgba(217, 217, 217, 0) 88.22%);
}
.E31{
    position: absolute;
    width: 155px;
    height: 155px;
    left: 5px;
    top: 76%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
    animation: E31 7s infinite;
}

.textoE3{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

@keyframes E31{
    0%{top: 76%;}
    50%{top: 38%;}
    100%{top: 76%;}
}

.grupo1{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 67%;
    top: 25%;
    border-radius: 25px;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
    animation: grupo1 6s infinite ;
}

@keyframes grupo1 {
    0%{left: 67%;}
    25%{top: 27%;}
    50%{left: 64%;}
    75%{top: 25%;}
    100%{left: 67%;}
}

.grupo2{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 85%;
    top: 45%;
    border-radius: 25px;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
    animation: grupo2 7s infinite ;
}

@keyframes grupo2 {
    0%{left: 85%;}
    25%{top: 47%;}
    50%{left: 82%;}
    75%{top: 45%;}
    100%{left: 85%;}
}

.grupo3{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 67%;
    top: 65%;
    border-radius: 25px;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
    animation: grupo3 8s infinite ;
}

@keyframes grupo3 {
    0%{left: 67%;}
    25%{top: 67%;}
    50%{left: 64%;}
    75%{top: 65%;}
    100%{left: 67%;}
}

/* corpo negro */

.cC1{
    position:absolute;
    width: 87%;
    height: 83%;
    left: 13%;
    top: 17%;
    background: url(../imagem/galaxia.jpg);
    Opacity: 98%
}

.cM1{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 190px;
    top: 20px;
    border-radius: 25px;
    background: linear-gradient(138.85deg, #30293F 31.94%, rgba(208, 53, 193, 0.123528) 104.21%, rgba(13, 23, 47, 0.109375) 104.22%, rgba(3, 18, 32, 0) 104.23%);
}

.textocM1{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 60px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
}

.cM21{
    position: absolute;
    width: 615px;
    height: 465px;
    left: 40px;
    top: 100px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.cM2{
    position: absolute;
    width: 600px;
    height: 450px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(140.4deg, #603DAB 27.5%, rgba(208, 53, 193, 0.123528) 104.32%, rgba(13, 23, 47, 0.109375) 104.33%, rgba(3, 18, 32, 0) 104.34%);
}

.textocM2{
    position: absolute;
    width: 600px;
    height: 450px;
    left: 5px;
    top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
}

.cD11{
    position: absolute;
    width: 465px;
    height: 300px;
    left: 680px;
    top: 100px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
    animation: cD11 5s infinite;
}

.cD1{
    position: absolute;
    width: 450px;
    height: 285px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: url(../imagem/corpo_negro.jpg);
}

@keyframes cD11 {
    0%{top: 100px;}
    50%{top: 200px;}
    100%{top: 100px;}
    
}

.textoE4{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/*quantização de energia*/

.qC1{
    position:absolute;
    width: 87%;
    height: 83%;
    left: 13%;
    top: 17%;
    background: url(../imagem/galaxia.jpg);
    Opacity: 98%
}

.textoE2{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.qM1{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 50px;
    top: 20px;
    border-radius: 25px;
    background: linear-gradient(138.85deg, #30293F 31.94%, rgba(208, 53, 193, 0.123528) 104.21%, rgba(13, 23, 47, 0.109375) 104.22%, rgba(3, 18, 32, 0) 104.23%);
}

.textoqM1{    
    position: absolute;
    width: 280px;
    height: 60px;
    left: 3px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
}

.qM21{
    position: absolute;
    width: 315px;
    height: 465px;
    left: 40px;
    top: 100px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.qM2{
    position: absolute;
    width: 300px;
    height: 450px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(140.4deg, #603DAB 27.5%, rgba(208, 53, 193, 0.123528) 104.32%, rgba(13, 23, 47, 0.109375) 104.33%, rgba(3, 18, 32, 0) 104.34%);
}

.textoqM2{
    position: absolute;
    width: 300px;
    height: 450px;
    left: 5px;
    top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
}

.qM31{
    position: absolute;
    width: 465px;
    height: 495px;
    left: 400px;
    top: 60px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
    animation: qM31 10s infinite;
}

.qM3{
    position: absolute;
    width: 450px;
    height: 480px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: url(../imagem/energia);
}

@keyframes qM31{
    0%{left: 400px;}
    50%{left: 500px;}
    100%{left: 400px;}
}

#qA{
    color: rgb(20, 24, 238);
}