.funto{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(146.11deg, #21122B 22.76%, rgba(151, 47, 215, 0) 91.71%);

}
div{
    background-color: #593ef1c2;
}

.E1{
    position: absolute;
    width: 150px;
    height: 250px;
    left: 5px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(133.81deg, #685E85 23.83%, rgba(119, 111, 144, 0.861635) 35.98%, rgba(217, 217, 217, 0) 88.22%);
}
.E12{
    position: absolute;
    width: 155px;
    height: 255px;
    left: 5px;
    top: 5px;
    border-radius: 25px; 
    background-color: rgba(0, 0, 0, 0.548);
}

.M1{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(133.81deg, #685E85 23.83%, rgba(119, 111, 144, 0.861635) 35.98%, rgba(217, 217, 217, 0) 88.22%);
    
}

.M12{
    position: absolute;
    width: 405px;
    height: 105px;
    left: 26%;
    top: 10px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.textoM1{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 80px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
}

.C1{
    position:absolute;
    width: 87%;
    height: 83%;
    left: 13%;
    top: 17%;
    background: url(../imagem/galaxia.jpg);
    Opacity: 98%
}

.M2{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 4%;
    top: 13%;
    border-radius: 25px;
    background: linear-gradient(138.85deg, #30293F 31.94%, rgba(208, 53, 193, 0.123528) 104.21%, rgba(13, 23, 47, 0.109375) 104.22%, rgba(3, 18, 32, 0) 104.23%);
}
.M22{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 29%;
    top: 13%;
    border-radius: 25px;
    background: linear-gradient(138.85deg, #30293F 31.94%, rgba(208, 53, 193, 0.123528) 104.21%, rgba(13, 23, 47, 0.109375) 104.22%, rgba(3, 18, 32, 0) 104.23%);
}

.M3{
    position: absolute;
    width: 250px;
    height: 400px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(140.4deg, #603DAB 27.5%, rgba(208, 53, 193, 0.123528) 104.32%, rgba(13, 23, 47, 0.109375) 104.33%, rgba(3, 18, 32, 0) 104.34%);
}
.M31{
    position: absolute;
    width: 265px;
    height: 415px;
    left: 5%;
    top: 25%;
    border-radius: 25px; 
    background-color: rgba(0, 0, 0, 0.548);
}
.M33{
    position: absolute;
    width: 250px;
    height: 400px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(140.4deg, #603DAB 27.5%, rgba(208, 53, 193, 0.123528) 104.32%, rgba(13, 23, 47, 0.109375) 104.33%, rgba(3, 18, 32, 0) 104.34%);
}
.M32{
    position: absolute;
    width: 265px;
    height: 415px;
    left: 30%;
    top: 25%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.D1{
    position: absolute;
    width: 250px;
    height: 60px;
    left: 77%;
    top: 4%;
    border-radius: 25px;
    background: linear-gradient(138.85deg, #30293F 31.94%, rgba(208, 53, 193, 0.123528) 104.21%, rgba(13, 23, 47, 0.109375) 104.22%, rgba(3, 18, 32, 0) 104.23%);
}

.D2{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(140.4deg, #603DAB 27.5%, rgba(208, 53, 193, 0.123528) 104.32%, rgba(13, 23, 47, 0.109375) 104.33%, rgba(3, 18, 32, 0) 104.34%);
}

.D21{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 67%;
    top: 25%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.D3{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(140.4deg, #603DAB 27.5%, rgba(208, 53, 193, 0.123528) 104.32%, rgba(13, 23, 47, 0.109375) 104.33%, rgba(3, 18, 32, 0) 104.34%);
}

.D31{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 85%;
    top: 45%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.D4{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(140.4deg, #603DAB 27.5%, rgba(208, 53, 193, 0.123528) 104.32%, rgba(13, 23, 47, 0.109375) 104.33%, rgba(3, 18, 32, 0) 104.34%);
}

.D41{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 67%;
    top: 65%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.E2{
    position: absolute;
    width: 150px;
    height: 250px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(133.81deg, #685E85 23.83%, rgba(119, 111, 144, 0.861635) 35.98%, rgba(217, 217, 217, 0) 88.22%);
}

.E21{
    position: absolute;
    width: 155px;
    height: 255px;
    left: 10px;
    top: 38%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

.E3{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 5px;
    top: 0px;
    border-radius: 25px;
    background: linear-gradient(133.81deg, #685E85 23.83%, rgba(119, 111, 144, 0.861635) 35.98%, rgba(217, 217, 217, 0) 88.22%);
}
.E31{
    position: absolute;
    width: 155px;
    height: 155px;
    left: 5px;
    top: 76%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);
}

